.main-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr
}

.coe-main-grid {
  display: grid;
  grid-template-columns: .5fr 2.5fr .5fr
}

.card-padding {
  padding: 15px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.color-gray {
  color: #656565;
}

.div-grid {
  display: grid;
  grid-template-columns: 1fr 0fr;
}

.coe-div-grid {
  display: grid;
  grid-template-columns: 1fr 0fr;
}

.bir-seemore-button {
  background-image: url('../../../images/icons/ic_next.png');
}

.bir-icon {
  background-size: contain;
  cursor: pointer;
  background-color: transparent;
  display: block;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
}
