<<<<<<< HEAD
.container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%
}
=======
.container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%
}
>>>>>>> 7cf23bbb6f50fd66d0c4f86515a65c2bf03bddc0
