.news-modal-body {
  min-height:150px;
  line-height:normal !important;
}

.news-modal-body-title {
  font-size : 24px;
  font-weight : lighter;
}

.news-modal-body-description {
  padding : 20px 0px 20px 0px;
  font-size : 16px;
  font-weight : lighter;
}

.news-modal-footer-link {
  font-size : 12px;
  cursor: pointer;
  color: #03A9F4;
  float:right;
}
