.squads-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-gap: 5px 15px;
}

.squad-title {

}

.squad-title-card {
  background: #ff8a00;
  color: #fff;
  width: fit-content;
  padding: 5px 20px;
  margin-top: 20px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.squad-description {

}

.squads-card {
  padding:20px;
}
