.podplay-header{
	width:100%;
	height:50px;
	text-align: left;
}

.podplay-main{
	float:left;
	width:60%;
}
.podplay-sidebar-right{
	float:left;
	width:40%;
	padding-left: 24px;
	left: 0;
}
.podplay-footer{
	clear:both;
	width: 100%;
	text-align: center;
	bottom : 0;
}
 .podplay-main, .podplay-sidebar-right{
	min-height: 600px				
}

#document {
	height: 70%;
	width: 40%;
}