._benefits-container {
      display: grid;
      grid-column-gap: 1%;
      padding: 1%;
      margin: auto;
      position: relative;
      margin:0 auto;
      text-align: center;
      color: #fafafa;
      font-family: 'Roboto';
      grid-template-areas: "cards cards cards";
}
@media only screen and (max-width: 768px){
  ._benefits-container { width: 100%; }
}
.back-button {
  height: 10px !important;
  cursor: pointer;
}
.page-header-buttons {
  text-align : right;
}
.option-cards-1 {
  padding: 20% 0 20% 0;
  cursor: pointer;
  background-image: url('../images/education_bg.jpg') !important;
  background-repeat: round;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
  border-radius: 5px;
  grid-area: card;
}
.option-cards-2 {
  padding: 20% 0 20% 0;
  cursor: pointer;
  background-image: url('../images/medical_bg.jpg') !important;
  background-repeat: round;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
  border-radius: 5px;
  grid-area: card;
}
.option-cards-3 {
  padding: 20% 0 20% 0;
  cursor: pointer;
  background-image: url('../images/mpl_bg.jpg') !important;
  background-repeat: round;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
  border-radius: 5px;
  grid-area: card;
}
