/* benefits */
.app-countdown {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  line-height: normal;
  text-align:center;
  font-size:1rem;
  font-weight: lighter;
}
.benefits-loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  vertical-align: middle;
}


.app {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  vertical-align: middle;
  line-height: normal;
  text-align:center;
  font-size:1rem;
  font-weight: lighter;
}

._benefits-container {
  display:grid;
  grid-column-gap: 5px;
  font-weight: lighter;
  grid-template-columns : repeat(300px);
}

.card-container {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 10px;
  text-align: center;
}

i {
  cursor: pointer;
  border: solid #ff8a00;
  border-width: 0 7px 7px 0;
  display: -webkit-inline-box;
  padding: 4px;
  margin-right: 10px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.breadcrumbs-container {
  display: flex;
  align-items: center;
}

.page-header-buttons {
  text-align : right;
}

.benefits-option-cards {
  background: rgba(0,0,0,0.5);
  color: #fff;
  margin-top: 5%;
  padding: 12px 0 12px 0;
}

.adjustment {
  margin-top: 4%;

}

.option-cards-1 {
  padding: 21% 0 20% 0 !important;
  cursor: pointer !important;
  background-image: url('../../../images/education_bg.jpg') !important;
  background-repeat: round !important;
  border-radius: 5px !important;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3) !important;
  grid-area: card!important;
}

.option-cards-2 {
  padding: 21% 0 20% 0 !important;
  cursor: pointer !important;
  background-image: url('../../../images/medical_bg.jpg') !important;
  background-repeat: round !important;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3) !important;
  border-radius: 5px !important;
  grid-area: card !important;
}

.option-cards-3 {
  padding: 21% 0 20% 0 !important;
  cursor: pointer !important;
  background-image: url('../../../images/mpl_bg.jpg') !important;
  background-repeat: round !important;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3) !important;
  border-radius: 5px !important;
  grid-area: card !important;
}
