/* benefits */
.app-countdown {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  line-height: normal;
  text-align:center;
  font-size:1rem;
  font-weight: lighter;
}
.benefits-loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  vertical-align: middle;
}

.btn-fab {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

.app {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  vertical-align: middle;
  line-height: normal;
  text-align:center;
  font-size:1rem;
  font-weight: lighter;
}

._benefits-container {
  display:grid;
  grid-column-gap: 5px;
  font-weight: lighter;
  grid-template-columns : repeat(300px);
}

.card-container {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 10px;
  text-align: center;
}

i {
  cursor: pointer;
  border: solid #ff8a00;
  border-width: 0 7px 7px 0;
  display: -webkit-inline-box;
  padding: 4px;
  margin-right: 10px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.breadcrumbs-container {
  display: flex;
  align-items: center;
}

.page-header-buttons {
  text-align : right;
}

.benefits-option-cards {
  background: rgba(0,0,0,0.5);
  color: #fff;
  margin-top: 5%;
  padding: 12px 0 12px 0;
}

.adjustment {
  margin-top: 4%;

}
.library-container {
  display:  grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-count: 2;
  grid-column-gap: 20px;
}
.page-header-buttons {
  padding: 0 4% 0 4%;
}
.title-view {
  margin : 25px auto;
}
section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.input-tab {
  display: none !important;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 150;
  text-align: center;
  border: 1px solid transparent;
  color: #555;
}

label:before {
  font-weight: normal;
  margin-right: 10px;
}

label[htmlFor*='1']:before { content: '\f1cb'; }
label[htmlFor*='2']:before { content: '\f17d'; }
label[htmlFor*='3']:before { content: '\f16b'; }

label:hover {
  color: #555;
  cursor: pointer;
}

.input-tab:checked + label {
  color: #000;
  border-bottom: 4px solid #ffa800;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content1,
#tab3:checked ~ #content1 {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
  .mobile-icon {
    background: url('../../../images/profile-picture.png') no-repeat center center;
    background-size: contain;
    height: fit-content;
    width: fit-content;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
.booksSearchBar {
  width: 40%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background: transparent;
  height: 30px;
  display: inline-block;
  transition: all 0.05s ease-in-out;
  -webkit-appearance: searchfield;
  float: right;
  opacity: 0.7;
  outline: none;
  border-bottom-color: #ff8a00;
}

.option-cards-1 {
  padding: 21% 0 20% 0 !important;
  cursor: pointer !important;
  background-image: url('../../../images/education_bg.jpg') !important;
  background-repeat: round !important;
  border-radius: 5px !important;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3) !important;
  grid-area: card!important;
}

.option-cards-2 {
  padding: 21% 0 20% 0 !important;
  cursor: pointer !important;
  background-image: url('../../../images/medical_bg.jpg') !important;
  background-repeat: round !important;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3) !important;
  border-radius: 5px !important;
  grid-area: card !important;
}

.option-cards-3 {
  padding: 21% 0 20% 0 !important;
  cursor: pointer !important;
  background-image: url('../../../images/mpl_bg.jpg') !important;
  background-repeat: round !important;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3) !important;
  border-radius: 5px !important;
  grid-area: card !important;
}
