.vaccine-form {
  max-width: 100%;
  float: center;
  padding: 10px 20% 10px 20%;
  margin: auto;
  text-align: center;
}

.vaccine-loan-grid {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.vaccine-function {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.vaccine-form-review {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}

.vaccine-submit {
  border-radius: 5px;
  text-align: center;
  outline: none;
  cursor: pointer;
  background-size: 30px;
  bottom: 0;
  height: 35px;
  margin-top: 20px;
  width: 100%;
}

.vaccine-submit:hover {
  border: 1px solid #FF7200;
  background-color: #ff8A00;
  color: #fff;
}

.vaccine-submit-form-button:hover {
  border: 1px solid #FF7200;
  background-color: #ff8A00;
  color: #fff;
}

.vaccine-edit-form:hover {
  border: 1px solid #FF7200;
  background-color: #ff8A00;
  color: #fff;
}

@media (max-width : 768px) {
  .vaccine-form-card {
    padding: 10px;
  }
}
