.celebrate-container{
margin-left: 20%;
margin-right: 20%;

}

.celebrate-container-space{
	padding-top: 20px;
}

.celebrate-button-center{
	background-color: orange;
	color: white;
	padding-left: 100px;
	padding-right: 100px;

}

.celebrate-aligned-center{
	text-align: center;
}
