
.general-container {
  max-width: 100%;
}

.general-form-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  float: center;
  padding: 20px 5px 20px 5px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.general-form-card-body {
  border-color: #0a0a0a;
  color: #090909;
}

@media (max-width : 768px) {
  .general-form-card {
    margin-top: 10px;
  }
}
.experience-textarea {
  height: 200px;
  align-items: flex-start;
  margin: 10px auto;
  resize: none;
  width: -webkit-fill-available !important;
  outline-color: #FF8A00;
  border-radius: 5px;
  font-size: 14px;
}
.whoami-textarea {
  height: 200px;
  align-items: flex-start;
  margin: 10px auto;
  resize: none;
  width: -webkit-fill-available !important;
  outline-color: #FF8A00;
  border-radius: 5px;
  font-size: 14px;
}
.general-calendar {
  border-bottom: 1px solid #ff8A00;
  border-top: 0px;
  border-left:0px;
  outline:none;
  border-right :0px;
}
.general-react-datepicker-popper {
  width:250px;
}
.general-react-datepicker__input-container {
  margin-top: 0px !important;
}

.general-datepicker {
  height: 20px;
  width: 100%;
  margin-top: 55px;
}

general-input[type=file] {
  opacity:0;
  padding:10px 0px 10px 0px;
  position:absolute;
}

.general-file-container {
  padding:0px 15px 0px 15px;
}

.general-file-group {
  object-fit: cover;
  position:relative;
  width:100%;
  margin-top:45px;
}

.general-file-text {
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  /* width:210px; */
  width:100%;
  display:inline-block;
  border-bottom:1px solid #757575;
  font-size:16px;
  height:40px;
  padding:10px 0px 10px 0px;
  display:block;
}

.general-file {
  display:block;
  padding:10px 0px 10px 0px;
  width:100%;
  border:none;
  background: transparent;
}

.general-file:focus { outline:none; }

/* .file-label ======================================= */
.general-file-label {
  color:#999;
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  background: transparent;
  top:-20px;
  font-size:14px;
  color:#ff8a00;
}

/* BOTTOM BARS ================================= */
.general-bar 	{ position:relative; display:block; width:100%; }
.general-bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:0;
  position:absolute;
  background:#ff8a00;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.general-bar:before {
  left:50%;
}
.general-bar:after {
  right:50%;
}

/* active state */
.general-file:focus ~ .bar:before, .file:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.general-highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.general-file:focus ~ .highlight {
  -webkit-animation:.fileHighlighter 0.3s ease;
  -moz-animation:.fileHighlighter 0.3s ease;
  animation:.fileHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes .fileHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes .fileHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes .fileHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
general-img{
  max-width:180px;
}
general-input[type=file]{
padding:10px;
background:#2d2d2d;}
