.body {
  font-family: 'Roboto', sans-serif;
  color: #999999;
  }

.grid-req-main {
  display: grid;
  grid-template-columns: .8fr 2fr;
}

.grid-container {
  display: grid;
  grid-template-columns: .1fr 3fr;
}

.margin-auto {
  marign : auto;
}

.margin-right {
  margin-right: 40px;
}

.margin-left {
  margin-left: 20px;
}

.padding-10px {
  padding: 10px;
}

.padding-5px {
  padding: 5px;
}

.padding-10px-no-bottom {
  padding: 10px 10px 0px 10px;
}

.height-100 {
  height: 100%;
}

.div-fixed {
  z-index: 99;
  width: 30%;
  height: 100%;
}

.grid-percentage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-points-main {
  display: grid;
  grid-template-columns: 1fr .1fr;
}

.grid-points-rows {
  display: grid;
  grid-template-rows: .3fr 1fr .3fr;
}

.grid-points {
  display: grid;
  grid-template-columns: .3fr 1fr;
}

.color-Low {
  color: #4CAF50;
}

.color-Medium {
  color: #FF8A00;
}

.color-High {
  color: #ff3333;
}

.color-white {
  color: #ffffff;
}

.icon-edit-white-img {
  background-image: url('../../../images/icons/ic-edit-48px.png')
}

.icon-add-img {
  background-image: url('../../../images/icons/icons-add-36.png')
}

.icon-points-img {
  background-image: url('../../../images/icons/icons8-trophy-50.png')
}

.header-column {
  display: grid;
  grid-template-columns: 2fr .1fr;
}

/* Comment */
.comment-grid {
  display: grid;
  grid-template-columns: 1fr .5fr;
}

/* scroll */
.scroll-y {
  width: auto;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Goals details */
.card-background {
  background-color: #FF8A00;
  border-radius: 5px;
}

.details-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.details-rows {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-top: 10px;
}

.details-title {
  background-color: #f1f1f1;
}
