.payslip-date-button {
  border-radius: 5px;
  text-align: center;
  outline: none;
  cursor: pointer;
  background-size: 30px;
  bottom: 0;
  height: 35px;
  margin-top: 20px;
  width: 95%;
}

.payslip-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

@media (max-width : 786px) {
  .payslip-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
  }
}

.payslip-card-component {
  padding: 25px 5px 25px 5px;
  cursor: pointer;
}

.payslip-grid-card-container {
  display: grid;
  grid-template-columns: .1fr 1fr .1fr;
}

.payslip-icon {
  background-image: url('../../../../images/icons/ic_payslip.png')
}

.payslip-icon-proceed {
  background-image: url('../../../../images/icons/ic_next_page.png')
}

.payslip-icon-forms {
  background-size: auto;
  cursor: pointer;
  background-color: transparent;
  display: block;
  height: 45px;
  width: 50px;
  background-repeat: no-repeat;
}

.payslip-label {
  margin: 15px 0px 0px 20px;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.hide {
  display: none!important;
}

.viewmore {
  padding: 2px 0 2px 0;
  width: 100%;
  cursor: pointer;
  border: 0;
}
