.computer-body {
  display: inline-flex;
  margin: auto;
  width: 100%;
  margin: auto auto auto -8px;
}

.computer-container {
  max-width: 100%;
}

.computer-form-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  float: center;
  padding: 10px 5px 10px 5px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.computer-form-card-body {
  border-color: #0a0a0a;
  color: #090909;
}

.computer-submit {
  border-radius: 5px;
  text-align: center;
  outline: none;
  cursor: pointer;
  background-size: 30px;
  bottom: 0;
  height: 35px;
  margin-top: 20px;
  width: 95%;
}

.computer-grid-column-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}

@media (max-width : 768px) {
  .computer-grid-column-2 {
    display: grid;
    grid-template-columns: 1fr ;
    column-gap: 2%;
    grid-row-gap: 2%;
  }
  .computer-form-card {
    margin-top: 10px;
  }
}


/*cARD TRANSITION*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.computer-form-preview{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: -webkit-fill-available;
  float: center;
  padding: 10px 10px 10px 10px;
  margin: auto;
  text-align: center;
  font-family: arial;
  opacity: 0;
  animation: fadeInUp 0.5s ease-in-out 0s forwards;
}

.computer-file-left {
  background-color: white;
  overflow: hidden;
  width: auto;
  min-height: 250px;
  margin-top: 20px;
}

.computer-file-grid {
  display:grid !important;
  grid-template-columns: 50% 50%;
}

.computer-image-view {
  position: relative;
  background: url('../../../../images/uploadicon-grey.jpg') no-repeat center center;
  background-size: 50px;
  width: 225px;
  height: 240px;
  object-fit: cover;
  border-radius: 20px;
}
.computer-image-layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 5px;
}
