.events-container {
  max-width: 100%;
}

.events-grid-column-2 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 2%;
}

.events-employees-column-3 {
  display: grid;
  grid-template-columns: .1fr 1fr .1fr;
}

.events-grid-rows-2 {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 10px;
}

.event-generic-button {
  height: 30px;
  border-radius: 50px;
}

.employees-content {
  margin-top: 8.5px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.hide {
  display: none!important;
}

.viewmore {
  padding: 2px 0 2px 0;
  width: 100%;
  cursor: pointer;
  border: 0;
}

.events-icon {
  background-size: contain;
  cursor: pointer;
  background-color: transparent;
  display: block;
  height: 50px;
  width: 40px;
  background-repeat: no-repeat;
  margin: auto;
}

.events-check {
  background-size: contain;
  cursor: pointer;
  background-color: transparent;
  display: block;
  height: 25px;
  width: inherit;
  background-repeat: no-repeat;
  margin: auto;
}

.events-user-icon {
  background-image: url('../../../../images/icons/ic_transacion_patient.png')
}

.events-icon-check {
  background-image: url('../../../../images/icons/ic_check_green_500_24dp.png')
}
