.title-podcast {
	padding: 20px 0;
	text-align: justify;
}
.author-podcast {
	padding: 10px 0;
	text-align: justify;
}
.podplay-header{
	width:100%;
	height:50px;
	text-align: left;
}
.podcast-player-rating-right {
	float : right;
	right : 0;
}
.podplay-main{
	float:left;
	width:70%;
}
.podplay-sidebar-right{
	float:left;
	width:30%;
	left: 0;
}
.podcast-details {
  margin: auto;
  width: 80%;
}
.podplay-footer{
	clear:both;
	width: 100%;
	text-align: center;
	bottom : 0;
}
 .podplay-main, .podplay-sidebar-right{
	min-height: 640px;
}
/* / media control css*/
.media-control--play-pause{
	background: transparent;
	color: #ff8a00;
	border:transparent;
	cursor: pointer;
}
.media-control--mute-unmute  {
	background-color:  transparent;
	color: #ff8a00;
	border:transparent;
	cursor: pointer;
}
.media-control--fullscreen {
	background-color:  transparent;
	outline: none;
	color: #ff8a00;
	border:transparent;
	cursor: pointer;
}
.media-control--current-time {
	font-size: 10px;
	color: #ff8a00;
}
.media-control--duration {
	font-size: 10px;
	color: #ff8a00;
}
.podcast-review-button {
	width: -webkit-fill-available;
  border-radius: 2px
}

/* / */
#document {
	height: 70%;
	width: 40%;
}
.player-content {
  display: -webkit-box;
	height: 360px;
  width: 100%;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover;
	object-fit: cover;
	bottom: 0px;
	background-prsition: center;
	background-repeat: no-repeat;
	background-origin: border-box;
}

.media-control-group--seek {
  flex: 1;
}

.circle-media-player {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 0;
  background-color: transparent;

  fill: none;
  stroke: #D7DBDC;
  stroke-width: 3;

  cursor: pointer;
  outline: 0;
}

.circle-media-player__foreground {
  stroke: #6e9541;
  transition: 350ms stroke-dashoffset;

  // position the start of the circle at the top
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circle-media-player__background {
}

.circle-media-player__play,
.circle-media-player__pause {
  fill: #6e9541;
  stroke-width: 0;
}

.media-player-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
  margin-bottom: 24px;
}

.media-player {
 width: 640px;
position: relative;
background-color: #f9f9f9;
height: 100%;

  video::-webkit-media-controls {
    display: none !important;
  }
}

.media-player-element {
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
  background-color: #d4d4d4;

  video,
  iframe,
  object,
  embed {
    display: block;
    width: 100%;
    height: 300%;
    border: 0;
    position: absolute;
    top: -100%;
    left: 0;
    pointer-events: none;
  }
}

.media-controls {
   display: inline-flex;
    align-items: center;
    padding: 10px;
    min-width: 420px;
    border-radius: 2px;
    /* margin-top: 250px; */
    /* top: 0; */
    margin: auto;
    background-color: #282F31;
    color: #fff;
  svg, path, polygon {
    transform-origin: 50% 50%;
  }

  .media-player--fullscreen & {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    // push controls above fullscreen video
    z-index: 2147483647;
  }
}

.media-controls--full {
  flex-direction: column;

  .media-control-group--seek {
    width: 100%;
    margin: 12px 0;
  }
}

.media-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.media-control-group {
  display: flex;
  align-items: center;
  position: relative;
}

.media-control-group--seek {
  flex: 1;
}

.media-control {
  margin: 0 12px;
}

.media-control--progress {
  -webkit-appearance: none;
  width: calc(100% - 24px);
  height: 3px;
  margin: 0 12px;
  border: 0;
  position: absolute;
  top: 7px;
  left: 12px;

  // bar
  background-color: #373d3f;
  &::-webkit-progress-bar {
    background-color: #373d3f;
  }

  // progress
  color: lighten(#373d3f, 5%); // IE
  &::-moz-progress-bar {
    background-color: lighten(#373d3f, 5%);
  }
  &::-webkit-progress-value {
    background-color: lighten(#373d3f, 5%);
  }
}

.media-control--seekbar {
  position: relative;
  z-index: 1;
	cursor: pointer;

  @include -range-track(webkit, moz, ms) {
    background-color: transparent !important;
  }
}

.media-control--volume {
  max-width: 120px;
	cursor: pointer;
}

.media-control--prev-track {
  margin-right: 6px;
}

.media-control--next-track {
  margin-left: 6px;
}

input[type="range"] {
  @include -range__reset(webkit, moz, ms);

  $track-height: 3px;
  $track-lower-color: #86b350;
  $track-upper-color: #373d3f;

  $thumb-height: 8px;
  $thumb-width: 8px;
  $thumb-color: #cdd7db;

  width: 100%;
  height: 12px;
  padding: 0 12px;
  margin: 0;
  background-color: transparent;

  &:hover,
  &:active {
    @include -range-thumb(webkit, moz, ms) {
      transform: scale(1.25);
    }
  }

  @include -range-track(webkit, moz, ms) {
    width: 100%;
    height: $track-height;
    border: 0;
    cursor: pointer;
    background-color: $track-upper-color;

    &:active {
      cursor: grabbing;
    }
  }

  // so we can style the lower progress
  &::-webkit-slider-container {
    background-size: inherit;
  }

  @include -range-track(webkit) {
    background: {
      image: linear-gradient($track-lower-color, $track-lower-color);
      size: inherit;
      repeat: no-repeat;
    }
  }

  @include -range-fill-lower(webkit, moz, ms) {
    background-color: $track-lower-color;
  }

  @include -range-thumb(webkit, moz, ms) {
    width: $thumb-width;
    height: $thumb-height;
    border: 0;
    border-radius: 50%;
    background-color: $thumb-color;
    cursor: grab;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 150ms ease-out;

    &:active {
      cursor: grabbing;
    }
  }

  @include -range-thumb(webkit) {
    position: relative;
    top: -2.5px;
  }
}

.media-playlist-header {
  padding: 2px;
  background-color: #373d3f;
}

.media-playlist-title {
  font-size: 14px;
  text-align: center;
}

.media-playlist {
  background-color: #282F31;
  color: #fff;
}

.media-playlist-tracks {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #373d3f;
}

.media-playlist-track {
  padding: 12px;
  cursor: pointer;

  & + & {
    border-top: 1px solid #373d3f;
  }

  &.is-active {
    color: #8bb955
  }
}

/*
  ##Device = Desktops
  ##Screen = 1361px to higher resolution desktops
*/
@media (min-width: 1361px){
	.podplay-sidebar-right {
	    width: 30%;
			float: left;
	}
	.default-podcast-background  {
		width: 100%;
		background-size: cover;
	}
	.media-player {
		width: 700px;
	}
	.media-controls {
			min-width: 100%;
			padding: 5px;
	}
}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1360px
*/
@media (min-width: 1025px) and (max-width: 1360px) {
	.podplay-sidebar-right {
	    width: 30%;
			float: left;
	}
	.default-podcast-background  {
		width: 100%;
		background-size: cover;
	}
	.media-player {
		width: 640px;
	}
	.media-controls {
			min-width: 100%;
			padding: 5px;
	}
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
	.podplay-sidebar-right {
	    float: left;
	    width: 100%;
	    /* left: 0; */
	}
	.default-podcast-background  {
		width: 100%;
		background-size: cover;
	}
	.media-player {
		width: 700px;
	}
	.media-controls {
			min-width: 100%;
			padding: 5px;
	}
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.podplay-sidebar-right {
	    float: left;
	    width: 100%;
	}
	.default-podcast-background  {
		width: 100%;
		background-size: cover;
	}
	.media-controls {
			min-width: 100%;
			padding: 5px;
	}
	.media-player {
		width: 660px;
	}
	.fa-play-button-detail {
		font-size : 45px !important;
		cursor: pointer !important;
		color: #ff8a00 !important;
	}
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px)
and (max-width: 767px) {
	.podplay-sidebar-right {
	    float: left;
	    width: 100%;
	    left: 0;
	}
	.default-podcast-background  {
		width: 100%;
		background-size: cover;
	}
	.media-player {
		width: 660px;
	}
	.fa-play-button-detail {
		font-size : 45px !important;
		cursor: pointer !important;
		color: #ff8a00 !important;
	}
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px)
and (max-width: 480px)
and ( orientation : portrait ) {
	.media-control {
			margin: 0;
	}
	.media-controls {
			min-width: 100%;
			padding: 5px;
	}
	.media-player {
			width: 100%;
			position: relative;
			background-color: #f9f9f9;
			height: 100%;
	}
	.podplay-sidebar-right {
		width: 100%;
	}
	.player-content {
		height: 100%;
		width: 100%;
		bottom: 0;
		display: -webkit-box;
	}
	.fa-play-button-details {
		font-size: 35px !important;
		cursor: pointer !important;
		color: #ff8a00 !important;
	}
	.default-podcast-background  {
		height: 250px;
		width: 100%;
		background-size: cover;
	}
	.shareCommentContainer {
		width: auto;
		min-width: 0px;
	}
	.podplay-main {
			width: 100%;
	}
}
