.notify-container {
  position: fixed;
  width: 20%;
  right: 10px;
  bottom: 10px;
  display: grid;
  grid-row-gap: 10px;
  background-color: white;
  z-index:9;
}

@media screen and (max-width : 768px) {
  .notify-container {
    position: fixed;
    width: 70%;
    right: 10px;
    bottom: 10px;
    display: grid;
    grid-row-gap: 10px;
    z-index:9;
  }
}
