

/* Footer */

.global-footer-container {
  padding: 0px 100px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#global-footer-cover {
  padding-top: 50px;
  margin-right: -50px;
  margin-left: -50px;
}

#global-footer {
  clear: both;
  background: #f1f1f1;
  padding: 30px 0px;
  float: left;
  width: 100%;
}

#global-footer .column {
  float: left;
  width: 100%;
  margin: 0 0 1.875em 0;
}

#global-footer h3 {
  font-size: 1em;
  color: #ff8a00;
  margin: 0 0 1em 0;
  text-align: center;
}

#global-footer ul li a {
  color: #a2a2a2;
  font-size: 0.9em;
  text-decoration: none;
}

#global-footer ul li {
  list-style-type: none;
  display: block;
  margin: 0.5em 0;
  font-size: 0.875em;
}

.globaldetails-footer-copyright {
  margin-top: 0px;
  text-align: right;
  float: right;
  color: #a2a2a2;
}

.globaldetails-footer-link {
  margin-top: 0px;
  text-align: left;
  float: left;
  color: #a2a2a2;
  font-size: 0.875em;
}

.globaldetails-footer-copyright2 {
  border-left: 1px dashed #ccc;
  color: #a2a2a2;
  text-align: center;
  float: right;
  margin-top: 0px;
  margin-left: 20px;
  font-size: 0.875em;
}

.globaldetails-footer-link a {
  color: #ee7421;
  text-decoration: none;
}


@media (min-width: 550px) {
  .column:first-child .columns:first-child {
    margin-left: 0;
  }
}

@media (min-width: 550px) {
  .column .columns {
      margin-left: 4%;
  }

  .column .columns {
      width: 100%;
      float: left;
      box-sizing: border-box;
  }
}

@media screen and (min-width: 40em) {
  .globaldetails-footer-about-container {
    max-width: 1030px;
  }
  .globaldetails-footer-about-write-up {
    width: 60%;
    padding-right: 75px;
    margin-bottom: 0;
  }
  .globaldetails-footer-other-info  {
    width: 40%;
  }
  #global-footer ul {
    text-align: left;
  }
  #global-footer h3 {
    text-align: left;
  }
  #global-footer .column {
    min-height: 7.5em;
  }
}

@media screen and (max-width: 768px) {
  .global-footer-container {
    display: grid;
    grid-template-columns:  1fr;
    column-gap: 1%;
  }

  #global-footer .column {
    float: none;
    width: 100%;
    margin: auto;
    padding-bottom: 25px;
  }
  .globaldetails-footer-copyright {
    text-align: center;
  }

  .feedbak-global-footer {
    margin: auto;
    text-align: center;
    padding: 0px 60px;
  }
}
