._podcast-container {
  display:grid;
  grid-column-gap: 5px;
  font-weight: lighter;
  grid-template-columns : repeat(218px);
}

.cardo-container {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
  margin-bottom: 5px;
  text-align: center;
}

i {
  cursor: pointer;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: -webkit-inline-box;
  padding: 1px;
  margin-right: 1px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.breadcrumbs-container {
  display: flex;
  align-items: center;
}

.page-header-buttons {
  text-align : right;
}


.adjustment {
  margin-top: 4%;
}