.news-card-container {
  display:grid;
  grid-column-gap: 1%;
  grid-template-columns : repeat(250px);
  margin-top: 20px;
}

.news-grid-headlines {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.news-icon-headlines {
  -webkit-mask-image: url('../../../../../images/icons/ic_date_range_grey_500_18dp.png');
  mask-image: url('../../../../../images/icons/ic_date_range_grey_500_18dp.png');
}

.news-details {
  overflow: initial;
  white-space: initial;
}

.news-like-grid {
  display: grid;
  align-items: center;
  margin: auto;
  grid-template-columns: 1fr .1fr .15fr;
  /* align-content: center; */
  text-align: left;
  padding: 5px 0px 0px 0px;
}

.news-icon-size {
  background-size: contain;
  cursor: pointer;
  background-color: #ffffff;
  display: block;
  height: 30px;
  width: 30px;
  -webkit-mask-repeat: no-repeat;
}

.news-grid-date {
  display: grid;
  align-items: center;
  grid-template-columns: .04fr 1fr;
}

.news-card-headlines {
  background-color: linear-gradient(to top, '#55000000', '#00000000');
  mix-blend-mode: multiply;
  border-radius: 25px;
}

.news-view-details-button {
}

.news-details-card {
  border-radius: 25px;
  padding: 0px 25px;
}

.news-body {
  padding : 50px;
  cursor:pointer;
}

.fa-see-more {
  font-size : 25px;
  cursor: pointer;
  color: #fff;
}

.news-heart-icon {
  background-color: #ff4436;
  -webkit-mask-image: url('../../../../../images/heart@2x.png');
  mask-image: url('../../../../../images/heart@2x.png');
}

.news-status-icon {
  -webkit-mask-image: url('../../../../../images/icons/ic_cstatus.png');
  mask-image: url('../../../../../images/icons/ic_cstatus.png');
}

.news-logo-icon {
  background-image: url('../../../../../images/mcdologo.jpg');
}

.news-icon {
  height: 30px;
  width: 30px;
  -webkit-mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  background-color: #ff4436;
}

.news-grid {
  display: grid;
  grid-template-columns: 3fr .10fr;
}

.home-card-view {
  grid-template-rows: 150px 220px 50px;
  display: grid;
  min-height: 350px;
}

.home-card-padding {
  padding: 10px;
}

.home-test-background {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 180px;
  width: 100%;
  transition: all .3s;
  transform-origin: 0% 0%;
}

.home-test-background img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
  width: 100%;
}

.news-scrolling-wrapper {
  /* -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 5px 0px 0px 0px; */
  -webkit-overflow-scrolling: touch;
  /* overflow-x: scroll; */
  overflow: auto;
  white-space: nowrap;
  height: 100%;
  padding: 5px 0px 0px 0px;
  width: 100%;
}

.news-scrolling-wrapper .news-list-card {
  display: inline-block;
  margin-left: 15px;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
  margin-right: 10px;
  max-width: 320px;
  scroll-behavior: smooth;
}

.news-details-size {
  height: 180px;
}
