.card-container {
  display:grid;
  grid-column-gap: 1%;
  grid-template-columns : repeat(250px);
  margin-top: 20px;
}

.news-body {
  padding : 50px;
  text-align:center;
  cursor:pointer;
}

.fa-see-more {
  font-size : 25px;
  cursor: pointer;
  color: #fff;
}

.news-card {
  margin-bottom: 10px;
  break-inside: avoid-column;
}
