.news-card-container {
  display:grid;
  grid-column-gap: 1%;
  grid-template-columns : repeat(250px);
  margin-top: 20px;
}

.news-grid-headlines {
  display: grid;
  margin: auto;
  padding: 30px 20px 0px 20px;
  grid-template-rows: 1fr 1fr 1fr .5fr auto;
}

#news-header-overlay {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  color: #fff;
  display: table;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 25% ,rgba(0,0,0,0.5));
  background: -webkit-linear-gradient(top,rgba(33, 30, 30, 0.2) 25%, rgb(25, 21, 21));
  background: -o-linear-gradient(top,rgba(255,255,255,0) 25%, rgba(0,0,0,0.5));
  background: -ms-linear-gradient(top,rgba(255,255,255,0) 25%, rgba(0,0,0,0.5));
  background: linear-gradient(top,rgba(255,255,255,0) 25%, rgba(0,0,0,0.5));
}

.news-icon-headlines {
  -webkit-mask-image: url('../../../../../images/icons/ic_date_range_grey_500_18dp.png');
  mask-image: url('../../../../../images/icons/ic_date_range_grey_500_18dp.png');
}

.news-body {
  padding : 50px;
  cursor:pointer;
}

.news-limit-text {
}

.news-like-grid {
  display: grid;
  grid-template-rows: .5fr .005fr;
}

.news-icon-size {
  background-size: contain;
  cursor: pointer;
  background-color: #ff8a00;
  display: block;
  height: 30px;
  width: 30px;
  -webkit-mask-repeat: no-repeat;
}

.news-grid-date {
  display: grid;
  align-items: center;
  grid-template-columns: .04fr 1fr;
}

.news-card-headlines {
  background-color: linear-gradient(to top, '#55000000', '#00000000');
  mix-blend-mode: multiply;
  border-radius: 5px;
}

.news-view-details-button {
}

.news-details-card {
  border-radius: 25px;
  padding: 10px 25px;
}

.fa-see-more {
  font-size : 25px;
  cursor: pointer;
  color: #fff;
}

.news-card {
  display: grid;
  grid-template-columns: .6fr 1fr;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
  border-radius: 5px;
  height: 250px;
  border: 0px transparent;
  margin-bottom: 10px;
  transition: box-shadow .2s;
}


@media screen and (max-width: 768px) {
  .news-card {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: none;
    border-radius: 25px;
    height: 250px;
    border: none;
  }
  .news-body {
    padding: 80px;
    cursor: pointer;
  }
  .news-grid-headlines {
    display: grid;
    grid-template-rows: 1fr .5fr .5fr .5fr;
  }
}
.news-heart-icon {
  background-color: #ff4436;
  -webkit-mask-image: url('../../../../../images/heart@2x.png');
  mask-image: url('../../../../../images/heart@2x.png');
}

.news-status-icon {
  -webkit-mask-image: url('../../../../../images/icons/ic_cstatus.png');
  mask-image: url('../../../../../images/icons/ic_cstatus.png');
}

.news-logo-icon {
  background-image: url('../../../../../images/mcdologo.jpg');
}

.news-icon {
  height: 30px;
  width: 30px;
  -webkit-mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  background-color: #ff4436;
}

.news-grid {
  display: grid;
  grid-template-columns: 3fr .10fr;
}
