#root{
  color: #777777;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

textarea{
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.shareCommentContainer{
  background: transparent;
  opacity: 0.2%;
   margin: 20px 0px 50px 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 640px;
  min-width: 640px;
}

.shareCommentContainer textarea {
  height: 100px;
  padding: 20px;
  width: auto;
  border: 1px solid #F2F2F2;
  outline: none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;

}

.shareCommentContainer .btn-success{
  padding: 6px 15px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 9px;
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #fff;
}

.shareCommentContainer button:hover{
  cursor: pointer;
}


/**********************************/
/*Display Comments*/
/*********************************/

.commentContainer {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
  border-radius: 5px;
  margin-bottom: 10px;
  width: 50%;
  border: 0px transparent;
}

.commentText {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

.commentText > textarea {
  width: auto;
  padding: 10px;
  border: 1px solid #F2F2F2;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.commentContainer button{
  margin-right : 10px;
  margin-top: 20px;
  padding: 6px 12px;
  color: #333;
  background-color: #F5F5F5;
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #DCDCDC;
  outline:none;
}

.commentContainer button:hover{
  cursor: pointer;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.feedback-title {
  display: right;
}

@media screen and (max-width: 950px) {
  .sharedCommentContainer{
      background: none repeat scroll 0 0 #f5f5f5;
      opacity: 0.2%;
      margin: 20px 0px 68px 0px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;

      width: 720px;
      min-width: 720px;
  }
}
