/* benefits */
/* medical */

.adjustment {
  margin-top: 4%;
}

.medical-card {
  margin-bottom: 20px;
  cursor: pointer;
}

.medical-option-cards {
  color: #fff;
  margin-top: 5%;
  background: rgba(0,0,0,0.5);
  padding: 12px 0 12px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.medical-column-grid {
  display: grid;
  grid-template-columns: .5fr 1fr;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.medical-option-default {
  padding: 21% 0 0 0;
  cursor: pointer;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}

.medical-card-container {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
  column-gap: 2%;
}

.medical-cards-1 {
  background-image: url('../../../../../images/icons/Medical.png');
}
