
 .optical-container {
   height: auto;
   display: inline-flex;
   margin-top: 5%;
}

.optical-loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  vertical-align: middle;
}

.optical-grid-x3 {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
}
