.view-size {
  width: 100%;
  height: 150px;
}

.grid-attachment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
}

.pdf-img {
  background: url('../../../../images/icons/icons_pdf.png');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  display: block;
}
