
/* Bereavement leave */
.bereavement-leave-card {
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
}

.bereavement-leave-submit:hover {
  background-color: #ff8a00;
  color: #fff;
}

.leave-filing-reason {
  text-align: right;
  margin: 0px;
  font-size: 10px;
  color: red;
}

.leave-filing-submit {
  width: 100%;
}
