.book-card {
  display:grid;
  grid-template-rows: 40% 30% 30%;
  height: 450px;
  margin-bottom:10px;
}

.card-header {
  height:auto;
  width:auto;
}

.card-body {
  padding:10px !important;
}

.card-footer {
  padding: 5px;
}
