._sidebar-overlay {
  background: #f5f5f5f5;
  height: 100%;
  top: 0;
  width: auto;
  box-shadow: 0 1px 4px 0 rgba(255, 255, 255, 0.5);
}
._text-link {
  display: flex;
  align-items: center;
 border-radius: 5px;
 font-size: 18px;
 text-align: justify;
 padding: 20px;
 color: #00000087;
 border-radius: 5px;
 transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 cursor: pointer;
 border: none;
 background: transparent;
 outline: none;
 font-weight: 200;
}
._text-link:hover {
  color: #ff8a00;
}
.active {
  color: #ff8a00;
}

.sidebar-icon {
  -webkit-mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  background-color: #00000087;
  background-position: 0 .4em;
  padding: 10% 10% 5% 10%;
}
.sidebar-icon:hover {
  background-color: #ff8a00;
}
.sidebar-icon.active {
  background-color: #ff8a00;
}
._icon {
  position: relative;
  display: table-cell;
  width: auto;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}
._side-text {
  font-weight: 600;
  font-size: 16px;
  color: #fafafa;
}
ul {
  margin:0;
  padding:0;
  height: 100%;
}

.newsfeed-icon {
  -webkit-mask-image: url('../../../../../images/drawer/newsfeed.png');
  mask-image: url('../../../../../images/drawer/newsfeed.png');
  }
.benefits-icon {
  -webkit-mask-image: url('../../../../../images/drawer/benefits.png');
  mask-image: url('../../../../../images/drawer/benefits.png');
  }
.transaction-icon {
  -webkit-mask-image: url('../../../../../images/drawer/MyTransaction.png');
  mask-image: url('../../../../../images/drawer/MyTransaction.png');
  }
.faqs-icon {
  -webkit-mask-image: url('../../../../../images/drawer/faqs.png');
  mask-image: url('../../../../../images/drawer/faqs.png');
  }
.settings-icon {
  -webkit-mask-image: url('../../../../../images/drawer/Profile.png');
  mask-image: url('../../../../../images/drawer/Profile.png');
  }
.books-icon {
  -webkit-mask-image: url('../../../../../images/drawer/faqs.png');
  mask-image: url('../../../../../images/drawer/faqs.png');
  }
