.grid-main {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.mygoal-filter-margin {
  margin: auto;
}

.mygoal-banner-grid {
  background: url('../../../images/GOALS/mygoal-banner.png');
  color: #fff;
  background-size: cover;
  height: 250px;
  margin: 0px 10px
}

.mygoal-header-default {
  height: 250px;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.mygoal-title-grid {
  display: grid;
  grid-template-rows: 1fr .2fr;
}

.mygoal-header-title {
  font-size: 65px;
  font-weight: bolder;
  height: 50px;
}

.mygoal-banner-grid-content {
  display: grid;
  grid-template-columns: .15fr 1fr .15fr;
}

.grid-container {
  display: grid;
  grid-template-columns: .1fr 3fr;
}

.grid-filter {
  display: grid;
  grid-template-columns: .40fr .02fr 1fr;
}

.grid-tabs {
  display: grid;
  grid-template-rows: .5fr 1fr;
}

.margin-auto {
  marign : auto;
}

.margin-right {
  margin-right: 40px;
}

.margin-left {
  margin-left: 20px;
}

.margin-top {
  margin-top: 20px;
}

.height-100 {
  height: 100%;
}

.mygoal-input-tab:checked + label {
  color: #fff;
  background: #ff8a00;
  border-radius: 50px;
  font-weight: lighter;
  min-width: 200px;
  margin-right: 20px;
  border-bottom: 1px solid #ff8a00;
  border-top: 1px solid #ff8a00;
  border-left: 1px solid #ff8a00;
  border-right: 1px solid #ff8a00;
}

.mygoal-input-tab + label {
  color: #546E7A;
  border-radius: 50px;
  font-weight: lighter;
  min-width: 200px;
  margin-right: 20px;
  border-bottom: 1px solid #546E7A;
  border-top: 1px solid #546E7A;
  border-left: 1px solid #546E7A;
  border-right: 1px solid #546E7A;
}

@media screen and (max-width : 768px) {
  .mygoal-tabs-container {
    margin: auto;
    text-align: center;
  }

  label {
    font-size: 9px !important;
  }

  .mygoal-input-tab + label {
    color: #546E7A;
    border-radius: 50px;
    font-weight: lighter;
    min-width: 90px;
    margin-right: 10px;
    border-bottom: 1px solid #546E7A;
    border-top: 1px solid #546E7A;
    border-left: 1px solid #546E7A;
    border-right: 1px solid #546E7A;
  }

  .mygoal-input-tab:checked + label {
    color: #ff8a00;
    border-radius: 50px;
    font-weight: lighter;
    min-width: 90px;
    margin-right: 10px;
    border-bottom: 1px solid #ff8a00;
    border-top: 1px solid #ff8a00;
    border-left: 1px solid #ff8a00;
    border-right: 1px solid #ff8a00;
  }
}

.mygoal-input-tab {
  display: none;
}
