div {
  width: -moz-available
}

.navigation-body-div {
  color: black;
  background-color: transparent;
  font-family: sans-serif;
  font-size: 1.1em;
  line-height: 1.21em; }

.navigation-panels {
  display: inline-flex;
  overflow: auto;
  position: absolute;
  top: 75px;
  bottom: 0; }
.navigation-panels .navigation-panel {
  overflow: auto;
  overflow-x: hidden;
}
.page-boundary {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%; }
.page-boundary--fixed-top {
  top: 0; }
.page-boundary--fixed-bottom {
  bottom: 0; }

.navigation-content {
  order: 2;
  flex: 5;
  padding: 2% 2% 0% 2%;
  width: -webkit-fill-available;
}
@media screen and (min-width: 1900px) and (min-height: 1600px) {
  .navigation-content {

     flex: 9;
  }
}
.left-side, .right-side {
  flex: 1; }

.page-title {
  text-align: center; }


.img-responsive {
  max-width: 100%; }

@media screen and (max-width: 3000px) and (max-height: 2000px) {
  .navigation-content {
     flex: 12;
  }
}

@media screen and (max-width: 1600px) and (max-height: 2000px) {
 .navigation-panels  {
      display: inline-flex;
      overflow: hidden;
      z-index: 0;
      top: 75px;
      position: absolute;
      z-index: 0;
      bottom: 0;
  }
  .navigation-content {
      order: 2;
      flex: 9;
      z-index: 2;
  }
}
@media screen and (max-width: 1200px) and (max-height: 1600px) {
 .navigation-panels  {
      display: inline-flex;
      overflow: hidden;
      position: absolute;
      z-index: 0;
      top: 75px;
      bottom: 0;
  }
  .navigation-content {
    order: 2;
    flex: 5;
    z-index: 2;
    padding: 2%;
    width: -webkit-fill-available;
    position: absolute;
    height: 100%;
  }
}
/*IPHONE 6,7,8*/

 /*IPHONE X*/
@media screen and (max-width: 768){
  .navigation-panels  {
    display: inline-flex;
    overflow: hidden;
    z-index: 0;
    top: 57px;
    bottom: 0;
  }
  .navigation-content {
    order: 2;
    flex: 5;
    z-index: 2;
    padding: 2%;
    width: -webkit-fill-available;
  }
}
@media screen and (max-height: 500px){
  .navigation-panels  {
    display: inline-flex;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 57px;
    bottom: 0;
  }
  .navigation-content {
    order: 2;
    flex: 5;
    z-index: 2;
    padding: 2%;
    width: -webkit-fill-available;
    position: absolute;
  }
}
