
.detail-body {
  padding : 50px;
}

.detail-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 30%;
  float : left;
  padding: 20px 5px 20px 5px;
  margin: 20px 0 auto 0;
  text-align: center;
  font-family: arial;
}
.detail-info-secondary {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 65%;
  left: 0;
  padding: 20px 5px 20px 5px;
  margin: 20px 0 auto 0;
  text-align: center;
  font-family: arial;
  float: right;
}
.detail-container {
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
    .detail-card {
        max-width: 100%;
        margin: auto;
        padding: 0;
    }
    .detail-info-secondary {
      max-width: 100%;
       margin: 20px auto;
       padding: 0;
     }
     .label-tab {
      font-size: 12px;
     }
     .title-view {
      margin: 25px auto;
     }
}
.image-profile {
 display: block;
 width: 80px;
 margin: 30px auto;
 box-shadow: 0 5px 10px -7px #333333;
 border-radius: 50%;
}
.detail-main-info {
  margin: 24px 0;
}
.title {
  color: grey;
  font-size: 15px;
  text-align: left;
  padding-left: 8px;
  margin-top: 5px;
}

.contact {
  border: none;
  outline: 0;
  display: block;
  padding: 8px;
  color: white;
  background-color: #ff7200;
  text-align: center;
  cursor: pointer;
  width: -webkit-fill-available;
  bottom: 0;
  margin: auto;
  font-size: 14px;
}

.a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.contact:hover, a:hover {
  opacity: 0.7;
}
.text-title-detail {
  font-size: 11px;
  color: #ffa800;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 8px;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.input-tab {
  display: none !important;
}

.label-tab {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 150;
  text-align: center;
  border: 1px solid transparent;
  color: #555;
}

.label-tab:before {
  font-weight: normal;
  margin-right: 10px;
}

.label-tab[htmlFor*='1']:before { content: '\f1cb'; }
.label-tab[htmlFor*='2']:before { content: '\f17d'; }

.label-tab:hover {
  color: #555;
  cursor: pointer;
}

.input-tab:checked + .label-tab {
  color: #000;
  border-bottom: 4px solid #ffa800;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
  padding-left: 50px;
  padding-right: 50px;
}
