.library-modal-container {
  display:grid;
  grid-template-rows: 1fr 1fr;
  min-height:500px;
}
.title .books-details,
   .title .books-details-content {
     display: inline;
}
.books-details {
  font-weight: bold;
}
.library-details {
  margin: auto;
  text-align: justify;
}
.center {
  text-align: center;
}

.library-modal-body-title{
  line-height: normal;
  font-weight: lighter;
  padding: 15px 0px 0px 15px
}

.library-modal-body-title-main {
  font-size: 18px;
  width:100%;
  margin:0px;
}

.library-modal-body-title-author {
  color : #a1a1a1;
  margin:0px;
  width:100%;
}

.library-modal-body-commands {

}

.library-modal-body-description {
  line-height: normal;
  font-weight: lighter;
  padding: 15px 0px 0px 15px
}

.library-modal-body {
  display: grid;
  grid-template-rows: 20% 60% 20%
}

.library-modal-footer-container {
  float:right
}
