.body {
  font-family: 'Roboto', sans-serif;
  color: #999999;
  }

.grid-main {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.grid-container {
  display: grid;
  grid-template-columns: .1fr 3fr;
}

.margin-auto {
  marign : auto;
}

.margin-right {
  margin-right: 40px;
}

.margin-left {
  margin-left: 20px;
}

.padding-10px {
  padding: 10px;
}

.height-100 {
  height: 100%;
}

.div-fixed {
  z-index: 99;
  width: 30%;
  height: 100%;
}

.grid-filter {
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
}

.color-Low {
  color: #4CAF50;
}

.color-Medium {
  color: #FF8A00;
}

.color-High {
  color: #ff3333;
}

.color-gray {
  color: #546E7A;
}

.icon-edit-img {
  background-image: url('../../../images/icons/baseline_edit_black_18dp.png')
}

.icon-add-img {
  background-image: url('../../../images/icons/icons-add-36.png')
}

.header-column {
  display: grid;
  grid-template-columns: 2fr .1fr;
}

.border-team {
  border: 1px solid #595959;
  border-radius: 5px;
  padding: 5px;
}

/* Comment */
.comment-grid {
  display: grid;
  grid-template-columns: 1fr .5fr;
}

/* tabs */

.team-tabs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.teamgoal-input-tab:checked + label {
  color: #ff8a00;
  border-radius: 50px;
  font-weight: lighter;
  min-width: 50px;
  margin-right: 20px;
  border: 1px solid #ff8a00;
}

.teamgoal-input-tab + label {
  color: #546E7A;
  border-radius: 50px;
  font-weight: lighter;
  min-width: 50px;
  margin-right: 20px;
  border: 1px solid #546E7A;
}

@media screen and (max-width : 768px) {
  .teamgoal-tabs-container {
    margin: auto;
    text-align: center;
  }

  label {
    font-size: 9px !important;
  }

  .teamgoal-input-tab + label {
    color: #546E7A;
    border-radius: 50px;
    font-weight: lighter;
    min-width: 90px;
    margin-right: 10px;
    border: 1px solid #546E7A;
  }

  .teamgoal-input-tab:checked + label {
    color: #ff8a00;
    border-radius: 50px;
    font-weight: lighter;
    min-width: 90px;
    margin-right: 10px;
    border: 1px solid #ff8a00;
  }
}

.teamgoal-input-tab {
  display: none;
}
