.mpl-poa-modal-button {
  height: 40px;
  display: list-item;
  /* float: none; */
  border-radius: 3px;
  margin: 10px auto;
  width: -webkit-fill-available;
  transition: box-shadow .28s cubic-bezier(0.4,0.0,0.2,1);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  text-transform: uppercase;
  background: #fefefe;
  color: #ff8a00;
  position: relative;
  text-align: center;
  border: 0;
  font-weight: 550;
  border: 0;
}

.mpl-icons {
  background-size: contain;
  cursor: pointer;
  background-color: transparent;
  display: block;
  height: 50px;
  width: 40px;
  background-repeat: no-repeat;
}

.mpl-term-icon {
  background-image: url('../../../../images/icons/ic_transacion_date_filed.png');
}

.mpl-mode-icon {
  background-image: url('../../../../images/icons/ic_mode_edit_grey_500_18dp.png');
}

.mpl-offet-icon {
  background-image: url('../../../../images/icons/ic_autorenew_grey_500_18dp.png');
}
