.gifts-image {
  display: block;
  width: -webkit-fill-available;
  height: 250px;
}

.gifts-text {
  color: white;
  margin-top: 110px;
  font-size: 60px;
  text-shadow: 2px 2px #ff0000;
}

.gifts-banner {
  background-image: url('../../../images/rewards/giftsBanner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.gifts-container{
	display: grid;
  grid-template-rows: auto auto auto;

}

.gifts-main-item1{
	grid-row: 1/3;
}

.gifts-main-item2{
	grid-row: 2/3;
}

.gifts-main-item3{
	grid-row: 3/3;
  padding-left: 10px;
  padding-right: 10px;
}

.gifts-grid-columnt-3x {
  display: grid;
  grid-template-columns: .15fr 1fr .15fr;
}

.gifts-grid-x4 {
  display: grid;
  column-gap: 2%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;;
}

.gifts-card-rewards {
  padding: 10px;
  min-height: 249px;
  min-width: 170px;
}

.gifts-title-feature {
  font-size: 1.25em;
  color: #e74c3c;
  font-weight: 100;
}

.gifts-header-style {
  color: #ee7421;
  font-weight: bold;
  text-align: center;
  margin: 0px 1em;
  font-size: 14px;
}

.gifts-location-alignment {
  margin-bottom: auto;
}

.gifts-know-more {
  display: block;
  padding: 0.5em 0.25em;
  min-width: 70px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5em;
  font-size: 0.75em;
  background-color: #ee7421;
  color: #fff;
}

.gifts-merchandise-tagline {
  font-family: Georgia, Times New Roman, serif !important;
  font-style: italic;
  line-height: 1.5em;
  color: #333;
  font-size: 0.75em;
  display: table-cell;
  vertical-align: middle;
  height: 84px;
  max-height: 84px;
  width: 124px;
}

/* Card Flip Transition */
.flip {
  -webkit-perspective: 800;
}

.flip .egifts-card.flipped {
  -webkit-transform: rotatey(-180deg);
}

.flip .egifts-card {
  -webkit-transform-style: preserve-3d;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
}

.flip .egifts-card .face {
  -webkit-backface-visibility: hidden;
}

.flip .egifts-card .front {
}

.flip .egifts-card .back {
  -webkit-transform: rotatey(180deg);
}
