/* benefits */

.mylearning-card-adjustment {
  margin: 3px 3px;
}

.mylearning-card-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2%;
  margin-bottom: 10px;
  text-align: center;
}

.page-header-buttons {
  text-align : right;
}

.mylearning-option-cards {
  background: rgba(0,0,0,0.5);
  color: #fff;
  margin-top: 5%;
  padding: 5px 0 5px 0;
}

.mylearning-adjustment {
  margin-top: 4%;
}

.mylearning-cards-1 {
  padding: 21% 0 0 0;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
  grid-area: card;
}

.mylearning-title-view {
  font-size: 30px;
}

@media screen and (max-width : 768px) {
  .mylearning-title-view {
    text-align: center;
    margin: auto;
  }
}
