.news-loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  vertical-align: middle;
}

.news-slider-nav {
	margin: 1.5em 0;
	text-align: center;
}

.news-slider-nav a {
	width: 2em;
	height: 2em;
	line-height: 2;
	text-align: center;
	border: 1px solid #ddd;
	color: #000;
	text-decoration: none;
	background: #f5f5f5;
	background: linear-gradient( #f5f5f5, #fff );
	display: inline-block;
	margin-right: 0.7em;
  border-radius: 50px;
}

.news-slider-nav a.current {
	border-color: #000;
	background: #fff;
	background: linear-gradient( #fff, #f5f5f5 );
}

.news-facebook-loader-grid {
  grid-template-rows: 180px 220px;
  display: grid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.news-scrolling-wrapper .news-facebook-card {
  min-height: 150px;
  margin-left: 15px;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
  margin-right: 10px;
  max-width: 320px;
}

.news-header {
  color: #ff8a00;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}

.news-feature-stories {
  padding: 0px 0px 10px 0px;
}

.newsSearchBar {
  width: 40%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background: transparent;
  height: 30px;
  display: inline-block;
  transition: all 0.05s ease-in-out;
  -webkit-appearance: searchfield;
  float: right;
  opacity: 0.7;
  outline: none;
  border-bottom-color: #ff8a00;
}

.news-title-view {
  margin: 25px auto;
}

.news-grid-header {
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
}

@media screen and (max-width: 768px) {
  .news-grid-header {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.news-scrolling-grid {
  display: grid;
  grid-template-rows: 1fr .2fr;
}

.container {
}
