/* Icon settings */
.profile-icon-settings {
  background-size: contain;
  cursor: pointer;
  background-color: transparent;
  display: block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
}

.profile-cursor-pointer {
  cursor: pointer;
}

.profile-cursor-pointer:hover {
  color: #ff8a00;
}

/* Icons */

.employeeId {
  background-image: url('../../../../images/icons/IdCardOrange.png');
}

.staffAccount {
  background-image: url('../../../../images/icons/ic_uassess.png');
}

.employeeContact {
  background-image: url('../../../../images/My Profile.png');
}

.employeeFullName {
  background-image: url('../../../../images/icons/FullNameOrange.png');
}

.employeeBdate {
  background-image: url('../../../../images/icons/BirthdayOrange.png');
}

.employeeDesignation {
  background-image: url('../../../../images/icons/DesignationOrange.png');
}

.employeeDependent {
  background-image: url('../../../../images/icons/DependentsOrange.png');
}

.employeeIdTransparent {
  background-image: url('../../../../images/icons/ic_employeeid.png');
}

.employeeGender {
  background-image: url('../../../../images/icons/GenderOrange.png');
}

.employeeHomeAddress {
  background-image: url('../../../../images/icons/HomeAddress.png');
}

.employeeContactAddress {
  background-image: url('../../../../images/icons/mobile_number_logo.png');
}

.employeeLocation {
  background-image: url('../../../../images/icons/LocationOrange.png');
}

.employeeLineManager {
  background-image: url('../../../../images/icons/LineManagerOrange.png');
}

.employeeMilitaryRank {
  background-image: url('../../../../images/icons/MilitaryRankOrange.png');
}


.employeeWorkClass {
  background-image: url('../../../../images/icons/WorkClassOrange.png');
}

.employeeUnitAssignment {
  background-image: url('../../../../images/icons/UnitAssignmentOrange.png');
}

.employeeTax {
  background-image: url('../../../../images/icons/taxOrange.png');
}

.employeePagibig {
  background-image: url('../../../../images/icons/PAGIBIG.png');
}

.employeePHIC {
  background-image: url('../../../../images/icons/PHIC.png');
}

.employeeSSS {
  background-image: url('../../../../images/icons/sssOrange.png');
}

.employeePremiumBadge {
  background-image: url('../../../../images/icons/PremiumBadgeOrange.png');
}

.employeeRegularizationDate {
  background-image: url('../../../../images/icons/RegularizationDateOrange.png');
}

.employeeRank {
  background-image: url('../../../../images/icons/RankOrange.png');
}

.employeeCivilStatus {
  background-image: url('../../../../images/icons/CivilStatusOrange.png');
}

.employeeDateHired {
  background-image: url('../../../../images/icons/Datehiredorange.png');
}

.employeeEmail {
  background-image: url('../../../../images/icons/emailorange.png');
}

.editIcon {
  -webkit-mask-image:  url('../../../../images/icons/ic_mode_edit_grey_500_18dp.png');
}

.editIconImage {
  background-image:  url('../../../../images/icons/ic_mode_edit_grey_500_18dp.png');
}

.closeImage {
  background-image:  url('../../../../images/x-circle-global.png');
}

.addIcon {

}

.pinlock-icon {
  background-image: url('../../../../images/icons/pinsecurityicon.png');
}

.profile-settings-grid-row-desktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Desktop View */
.profile-settings-grid-column-desktop {
  display: grid;
  grid-template-columns: 1fr .5fr;
  column-gap: 20px;
}

@media screen and (max-width: 768px) {
  .profile-settings-grid-column-desktop {
    display: grid;
    grid-template-columns: 1fr;
  }
  .profile-information-modal-view {
    margin-top: 50px;
  }
}

.profile-banner {
  background-image: url('../../../../images/UBBldg.jpg');
  background-size: cover;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 180px;
}

.profile-banner-image-grid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  grid-template-rows: 1fr 1fr;
  border-radius: 0px;
}

.profile-settings-card-others {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.profile-picture {
  background-color: #ff8a00;
  box-shadow: inset 0px 0px 0px 0px #ffffff;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-initial-text {
  text-align: center;
  align-items: center;
  font-weight: lighter;
  color: white;
  font-size: 30px;
  position: absolute;
  margin-top: 45px;
}

.profile-picture-card {
  width: 110px;
  display: grid;
  height: 110px;
  position: absolute;
  border-radius: 50%;
  margin-left: 25px;
  overflow: hidden;
  margin-top: 120px;
}

.profile-others-card {
  padding: 0px 25px 25px 25px;
  position: relative;
}

.profile-settings-card-view {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-radius: 0px;
}

.profile-information-view {
  display: grid;
  grid-template-columns: 1fr .5fr;
  padding: 80px 0px 0px 25px;
}

@media screen and (max-width: 768px) {
  .profile-information-view {
    display: grid;
    grid-template-columns: 1fr;
    padding: 80px 0px 0px 25px;
  }

  .profile-picture-card {
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }
}

.profile-name {
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 18px;
}
.profile-position {
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 14px;
}

.profile-margin-label {
  margin-bottom: 5px;
  font-size: 14px;
}

.profile-padding {
  padding: 0px 10px 0px 10px;
}

.profile-information-view-right {
  display: grid;
  grid-template-columns: .15fr 1fr;
  margin-bottom: 5px;
}

.profile-grid-description {
  display: grid;
  column-gap: 2%;
  grid-template-columns: 1fr .3fr;
}

/* Settings Other Information */
.profile-others-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5px;
}

.profile-others-grid-row {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/*  Mobile View */

.profile-settings-grid-column-mobile {
  display: none;
  grid-template-columns: 1fr .5fr;
  column-gap: 20px;
}

.staff-account-card {
  border: 1px solid #efefef;
}
