
.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 32%;
  float : left;
  padding: 20px;
  margin: 20px 0 auto 0;
  font-family: arial;
}
.profile-info-secondary {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 65%;
  left: 0;
  padding: 20px 5px 20px 5px;
  margin: 20px 0 auto 0;
  text-align: center;
  font-family: arial;
  float: right;
}
.profile-container {
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
    .profile-card {
        max-width: 100%;
        margin: auto;
        padding: 0;
    }
    .profile-info-secondary {
      max-width: 100%;
       margin: 20px auto;
       padding: 0;
     }
     .label-tab {
      font-size: 12px;
     }
     .title-view {
      margin: 25px auto;
     }
}
.image-profile {
 display: block;
 width: 80px;
 margin: 30px auto;
 box-shadow: 0 5px 10px -7px #333333;
 border-radius: 50%;
}
.profile-main-info {
  margin: 24px 0;
}
.title {
  color: grey;
  font-size: 14px;
}

.text-title-profile {
 font-size: 11px;
    color: #ffa800;
    margin-bottom: 20px;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.input-tab {
  display: none !important;
}

.label-tab {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 5px 5px;
  font-weight: 150;
  text-align: center;
  border: 1px solid transparent;
  color: #555;
  color: #000;
  font-size: 16px;
  padding: 0 10px;
}

.label-tab:before {
  font-weight: normal;
  margin-right: 10px;
}

.label-tab:hover {
  color: #555;
  cursor: pointer;
}

.input-tab:checked + .label-tab {
  color: #000;
  border-bottom: 4px solid #ffa800;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3 {
  display: block;
  padding-left: 50px;
  padding-right: 50px;
}

.employeeId {
  background-image: url('../../../../images/icons/IdCardOrange.png');
}

.employeeFullName {
  background-image: url('../../../../images/icons/FullNameOrange.png');
}

.employeeBdate {
  background-image: url('../../../../images/icons/BirthdayOrange.png');
}

.employeeDesignation {
  background-image: url('../../../../images/icons/DesignationOrange.png');
}

.employeeDependent {
  background-image: url('../../../../images/icons/DependentsOrange.png');
}

.employeeGender {
  background-image: url('../../../../images/icons/GenderOrange.png');
}

.employeeHomeAddress {
  background-image: url('../../../../images/icons/HomeAddress.png');
}

.employeeLocation {
  background-image: url('../../../../images/icons/LocationOrange.png');
}

.employeeLineManager {
  background-image: url('../../../../images/icons/LineManagerOrange.png');
}

.employeeMilitaryRank {
  background-image: url('../../../../images/icons/MilitaryRankOrange.png');
}

.employeeMobileNumber {
  background-image: url('../../../../images/icons/MobileNumber.png');
}

.employeeWorkClass {
  background-image: url('../../../../images/icons/WorkClassOrange.png');
}

.employeeUnitAssignment {
  background-image: url('../../../../images/icons/UnitAssignmentOrange.png');
}

.employeeTax {
  background-image: url('../../../../images/icons/taxOrange.png');
}

.employeePagibig {
  background-image: url('../../../../images/icons/PAGIBIG.png');
}

.employeePHIC {
  background-image: url('../../../../images/icons/PHIC.png');
}

.employeeSSS {
  background-image: url('../../../../images/icons/sssOrange.png');
}

.employeePremiumBadge {
  background-image: url('../../../../images/icons/PremiumBadgeOrange.png');
}

.employeeRegularizationDate {
  background-image: url('../../../../images/icons/RegularizationDateOrange.png');
}

.employeeRank {
  background-image: url('../../../../images/icons/RankOrange.png');
}

.employeeCivilStatus {
  background-image: url('../../../../images/icons/CivilStatusOrange.png');
}

.employeeDateHired {
  background-image: url('../../../../images/icons/Datehiredorange.png');
}

.employeeEmail {
  background-image: url('../../../../images/icons/emailorange.png');
}

.icon-settings {
  background-size: contain;
  cursor: pointer;
  background-color: transparent;
  display: block;
  height: 30px;
  width: 46px;
  background-repeat: no-repeat;
}

.profile-settings-grid {
  display: grid;
  padding: 0px 5px 0px 20px;
  grid-template-columns: .2fr 1fr;
}
