.home-margin-top {
  margin-top: 16px;
}

.home-fragment-view {
  display: grid;
  grid-template-columns: .05fr 1fr .05fr;
}

.home-grid-fragment {
  display: grid;
  grid-template-rows: .02fr auto auto;
}
