.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 30%;
  float : left;
  padding: 20px 5px 20px 5px;
  margin: 50px 0 auto 0;
  text-align: center;
  font-family: arial;
}
.profile-info-secondary {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 65%;
  left: 0;
  padding: 20px 5px 20px 5px;
  margin: 25px 0 auto 0;
  text-align: center;
  font-family: arial;
  float: right;
}
.profile-container {
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
    .profile-card {
        max-width: 100%;
        margin: auto;
        padding: 0 20px;
    }
    .profile-info-secondary {
      max-width: 100%;
      margin: auto;
      padding: 0 20px;
    }
}
.image-profile {
 display: block;
 width: 80px;
 margin: 30px auto;
 box-shadow: 0 5px 10px -7px #333333;
 border-radius: 50%;
}
.profile-main-info {
  margin: 24px 0;
}
.title {
  color: grey;
  font-size: 18px;
}

.contact {
  border: none;
  outline: 0;
  display: block;
  padding: 8px;
  color: white;
  background-color: #ff7200;
  text-align: center;
  cursor: pointer;
  width: -webkit-fill-available;
  bottom: 0;
  margin: auto;
  font-size: 14px;
}

.a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.contact:hover, a:hover {
  opacity: 0.7;
}
