@media print {
  * {
    display: none !important;
  }
}

@font-face {
  font-family: 'Gotham Light';
  src: local('GothamLight');
  src :  url('../fonts/GothamLight.eot');
  src : url('../fonts/GothamLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamLight.woff') format('woff'),
  url('../fonts/GothamLight.ttf') format('truetype');
}

body {
  background: url('../images/ub_pattern_bg.png');
  background-size:cover;
  padding:0;
  margin:0;
}

* {
  font-family: 'Gotham Light', sans-serif !important;
}

i {
  cursor: pointer;
  border: solid #ff8a00;
  border-width: 0px 7px 7px 0;
  display: -webkit-inline-box;
  padding: 6px;
  position: relative;
}
html, body, div, span
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  width: -webkit-fill-available;
  font: inherit;
  vertical-align: baseline;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

::-moz-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

h1 {
  font-weight: 350;
  text-align: -webkit-auto;
  display: inline-block;
  margin: 0;
}


p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.back-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.top-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.bottom-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.forward-arrow {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.default-body-grid {
  display: grid;
  grid-template-columns: .05fr 1fr .05fr;
}

.header-margin-default {
  align-items: center;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.global-button:hover {
  color: #fff;
  background-color: #ff8a00;
}

.global-button-reverse {
  color: #fff;
  background-color: #ff8a00;
}

.global-button-reverse:hover {
  color: #ff8a00;
  background-color: #fff;
  font-weight: 900;
}

.profile-button-small {
  min-width: 100px;
  height: 30px;
  border-radius: 50px;
}

.profile-button-medium {
  min-width: 130px;
  height: 40px;
  border-radius: 50px
}

@media (max-width: 768px) {
  .header-margin-default {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
}
.circular-loader-center {
  margin: 200px auto auto auto;
}

/* font weight */

.font-weight-normal {
  font-weight: normal !important;
}

.font-weight-bolder {
  font-weight: bolder !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-weight-initial {
  font-weight: initial !important;
}

.font-weight-lighter {
  font-weight: lighter !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

.font-weight-800 {
  font-weight: 800 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.font-weight-200 {
  font-weight: 200 !important;
}

.font-weight-100 {
  font-weight: 100 !important;
}

/* font size */

.font-size-8px {
  font-size: 8px !important;
}

.font-size-9px {
  font-size: 9px !important;
}

.font-size-10px {
  font-size: 10px !important;
}

.font-size-11px {
  font-size: 11px !important;
}

.font-size-12px {
  font-size: 12px !important;
}

.font-size-13px {
  font-size: 13px !important;
}

.font-size-14px {
  font-size: 14px !important;
}

.font-size-15px {
  font-size: 15px !important;
}

.font-size-16px {
  font-size: 16px !important;
}

.font-size-18px {
  font-size: 18px !important;
}

.font-size-19px{
  font-size: 19px !important;
}

.font-size-20px{
  font-size: 20px !important;
}

.font-size-21px{
  font-size: 21px !important;
}

.font-size-22px{
  font-size: 22px !important;
}

.font-size-23px{
  font-size: 23px !important;
}

.font-size-24px{
  font-size: 24px !important;
}

.font-size-25px{
  font-size: 25px !important;
}

.font-size-26px{
  font-size: 26px !important;
}

.font-size-27px{
  font-size: 27px !important;
}

.font-size-28px{
  font-size: 28px !important;
}

.font-size-29px{
  font-size: 29px !important;
}

.font-size-30px{
  font-size: 30px !important;
}

.font-size-35px{
  font-size: 35px !important;
}

.font-size-40px{
  font-size: 50px;
}

/* text-align*/

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.text-align-end {
  text-align: end;
}

.cursor-pointer {
  cursor: pointer;
}

.align-items-center{
  align-items: center;
}

.margin-auto {
  margin: auto;
}


/* float position */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Text Alignment Spacing */

.letter-spacing-1 {
  letter-spacing: .1pc;
}

.letter-spacing-2 {
  letter-spacing: .2pc;
}

/* Default color */

.unionbank-color {
  color: #fea30a;
}

.unionbank-color-grey {
  color: #3a3a3a;
}

.unionbank-white-color {
  color: #fff;
}

.grid-global {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}

.grid-global-columns-x3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
}

@media screen and (max-width: 1024px) {
  .grid-global-columns-x3 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
}

@media screen and (max-width: 768px) {
  .grid-global {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-global-columns-x3 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.grid-global-rows {
  display: grid;
  grid-template-rows: 1fr 1fr;
  column-gap: 2%;
}

.grid-global-columns-x4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2%;
}

.grid-global-row-x3 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 2%;
}

@media screen and (max-width: 768px) {
  .grid-global {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-global-columns-x3 {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom : 10px;
  }
}
.grid-global-rows {
  display: grid;
  grid-template-rows: 1fr 1fr;
  column-gap: 2%;
}

/* global icons default */

.global-icons-referenceNumber {
  background-image: url('../images/icons/ic_transacion_reference_number.png');
}

.global-icons-calendar {
  background-image: url('../images/icons/ic_date_range_grey_500_24dp.png');
}

.global-icons-next {
  background-image: url('../images/icons/ic_next.png');
}

.global-icons-dropdown {
  background-image: url('../images/icons/ic_dropdown.png');
}

.global-icons-accountNumber {
  background-image: url('../images/icons/ic_account_balance_wallet_grey_600_36dp.png');
}

.global-icons-patient-name {
  background-image: url('../images/icons/ic_transacion_patient.png');
}

.global-icons-procedure {
  background-image: url('../images/icons/ic_insert_drive_file_grey_500_18dp.png');
}

.global-icons-payslip {
  background-image: url('../images/icons/ic_payslip.png');
}

.global-icons-calamity {
  background-image: url('../images/icons/ic_calamity.png');
}

.global-icons-property {
  background-image: url('../images/icons/ic_property.png');
}

.global-icons-deceased {
  background-image: url('../images/icons/ic_deceased_name.png');
}

.global-icons-funeral {
  background-image: url('../images/icons/ic_school.png');
}

.global-icons-memorial {
  background-image: url('../images/icons/ic_memorial_park.png');
}

.global-icons-school {
  background-image: url('../images/icons/ic_school_grey_500_18dp.png');
}

.global-icons-promissoryNote {
  background-image: url('../images/icons/ic_account_balance_wallet_grey_600_36dp.png')
}

/**/
.close-button-global {
  margin: auto;
  padding-top: 10px;
  cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.hide {
  display: none!important;
}

.viewmore {
  padding: 2px 0 2px 0;
  width: 100%;
  cursor: pointer;
  border: 0;
}
