body {
  background: url('../images/ub_pattern_bg.png');
}
i {
  cursor: pointer;
  border: solid #ff8a00;
  border-width: 0 6px 6px 0;
  display: -webkit-inline-box;
  padding: 6px;
  position: relative;
  margin-right: 10px;
}

.back-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.header-margin-default {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 35px;
  margin-left: 30px;
}
