body {
  background: url('../images/ub_pattern_bg.png');
}
i {
  cursor: pointer;
  border: solid #ff8a00;
  border-width: 0px 7px 7px 0;
  display: -webkit-inline-box;
  padding: 6px;
  position: relative;
}
html, body, div, span
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  width: -webkit-fill-available;
  font: inherit;
  vertical-align: baseline; }

  h1 {
    font-weight: 350;
    text-align: -webkit-auto;
    display: inline-block;
    margin: 0;
  }

  p {
    margin: 0 0 20px;
    line-height: 1.5;
  }
.back-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.header-margin-default {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 35px;
  margin-left: 30px;
}
.circular-loader-center {
  margin: 200px auto auto auto;
}
html, body, div, span
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  width: -webkit-fill-available;
  font: inherit;
  vertical-align: baseline; }

h1 {
  font-weight: 350;
  text-align: -webkit-auto;
  display: inline-block;
  margin: 0;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}
