.phenoms-header {
  color: #ff8a00;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}

.phenom-grid-header{
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
  padding-left: 10px;
}
