.center-text {
  text-align: center;
}

.otp-function {
  display:grid;
  grid-template-columns: repeat(2, 1fr)
}

.security-icon {
  background-image: url('../../../images/icons/ic_security_grey_500_48dp.png');
}

.security-icon-settings {
  background-size: cover;
  cursor: pointer;
  background-color: transparent;
  display: block;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
}
