#container {
  margin: 4em;
  padding: 1em;
}

.stepper {
  height: 24px;
  height: 100%;
}

.stepper-indicator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.stepper-inner {
  width: auto;
  text-align: center;
  cursor: pointer;
}

.stepper-number {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  z-index: 1;
  border: 2px solid grey;
  background-color: white;
  color: grey;

}
.stepper-number span:after {
  margin-left: 20px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 40px;
  background-color: #E8E8E8;
  content: "";
}
.stepper-number span:first-child:after {
  left: 50%;
  right: auto;
}
.stepper-number span:last-child:after {
  right: 50%;
  left: auto;

}
.stepper-number.active {
  border: 2px solid #ff8a00;
  color: white;
  background-color: #ff8a00;
}

.stepper-label {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
}

.stepper-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.stepper-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.genericbutton {
  height: 42px;
  border-radius: 4px;
  background-color: #ff8a00;
  border: 0;
  transition: all .2s linear;
  margin-left: 5px;
  min-width: 100px;
  text-align: center;
  color: white;
  cursor: pointer;
  outline: 0;
  padding: 10px;
}

.avatar{
  border-radius: 50%;
  vertical-align: middle;
}
