.enrolled-list {
  margin: 20px;
}

.enrolled-title {
  text-align: left;
  margin: 0!important;
  color: #ff8a00;
  font-size: 16px;
}

.enrolled-date {
  text-align: left;
  margin: 0!important;
  color: #555;
  font-size: 16px;
}
