.mytrainings-card-list {
  width: -webkit-fill-available;
  height: 280px;
  overflow: hidden;
  color: #fff;
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 10px;
}

.mytrainings-card-list.mytrainings-card-list-part {
  background-image: url('../../../../images/UBBldg.jpg');
  background-size: cover;
  display: block;
  position: relative;
  background-repeat: no-repeat;
}

.mytrainings-card-list .color-overlay {
  background: rgba(84, 104, 110, 0.4);
  width: -webkit-fill-available;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.mytrainings-card-list:hover .mytrainings-card-info {
  opacity: 1;
  bottom: 90px;
}

.mytrainings-card-content {
  text-align: center;
  margin: 45px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}

.mytrainings-program-title {
  letter-spacing: 1px;
  padding-left: 5px;
  text-transform: uppercase;
  padding-right: 5px;
}

.mytrainings-venue {
  display: grid;
  line-height: 18px;
}

.mytrainings-card-info {
  width: 100%;
  position: absolute;
  bottom: 65px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.mytrainings-information-status {
  display: grid;
  grid-template-rows: .6fr .6fr;
}

.mytrainings-information-status-hover {
  display: grid;
  grid-template-rows: .3fr .2fr;
}

.mytrainings-icon-grid {
  display: grid;
  grid-template-columns: .02fr 1fr;
}

.mytrainings-label {
  color: yellow;
}

.mytrainings-icon {
  height: 18px;
  width: 24px;
  -webkit-mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  background-color: yellow;
}

.mytrainings-grid-x3 {
  display: grid;
  grid-template-columns: .3fr 1fr 0.3fr;
  position: absolute;
  bottom: 10px;
}

.mytrainings-calendar {
  -webkit-mask-image: url('../../../../images/icons/ic_date_range_grey_500_18dp.png');
  mask-image: url('../../../../images/icons/ic_date_range_grey_500_18dp.png');
}

.mytrainings-time {
  -webkit-mask-image: url('../../../../images/icons/ic_access_time_grey_500_18dp.png');
  mask-image: url('../../../../images/icons/ic_access_time_grey_500_18dp.png');
}
