.personal-squad-status-active {
  background-color: #fff;
  padding: 5px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  color: #ff8a00;
}

.personal-squad-status-inactive {
  background-color: #fff;
  padding: 5px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  color: #ff8a00;
}

.personal-squad-status-active1 {
  background-color: #ff8a00;
  padding: 5px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  color: #fff;
}

.personal-squad-status-inactive1 {
  background-color: #ff8a00;
  padding: 5px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  color: #fff;
}

.grid-status-personal {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
