.request-card-grid-option {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
  align-items: center;
}

.margin-bottom {
  margin-bottom: 20px;
}

.request-container {
  max-width: 100%;
}

.border {
  border: 1px solid orange;
  border-radius: 5px;
  padding: 5px;
}
