.request-card-grid-option {
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  max-width: 100%;
  margin: auto;
}

.margin-bottom {
  margin-bottom: 20px;
}

.padding-top {
  padding-top: 40px;
}

.border-radius {
  border-radius: 20px;
}

.border {
  border: 1px solid orange;
  border-radius: 5px;
  padding: 5px;
}

.request-airplane-icon {
  background: url('../../../../images/icons/airplane-icon.gif') no-repeat;
  background-size: contain;
  height: 60px;
  width: 200px;
  display: block;
}
