.optical-modal-review {
  margin: auto !important;
  display: list-item;
  grid-auto-columns: auto;
  height: auto;
  column-count: 2;
  width: auto;
}
.optical-modal-footer {
  display: unset;
  margin: 10px 10px 15px 0
}
.optical-modal-button {
  margin: 5px;
}
.modal {
  width: 30% !important;
  overflow-y: hidden !important;
}
