#drawer-header {
  display: grid;
  grid-template-columns: 1fr auto;
  /* float: right; */
  text-align: right;
}

.icon-header {
  text-align: left;
  display: grid;
  grid-template-columns: .6fr 1fr;
}

._img-ub-logo {
  height: 20px;
  margin-top: 4%;
  margin-left: 21px;
  width: auto;
}

._img-ub-profile {
  width: auto;
  display: flex;
  height: 20px;
  width: auto;
  margin-top: 2%;
}

._img-ub-info-logo {
  width: auto;
  display: flex;
  height: 20px;
  width: auto;
  margin-top: 2%;
  cursor: pointer;
}

@media screen and (max-width: 1201px) {
  ._img-ub-profile {
    width: 40px;
    height: 40px;
    position: sticky;
    margin: 2% 5% 0 0;
  }
  ._img-ub-logo {
    margin: 2.5% 0 0 9%;
  }

}
@media screen and (max-width: 768px) {
  ._img-ub-profile {
  margin: 3% 5% 0 0;
  }
  ._img-ub-logo {
    margin: 5% 5% 0 0;
  }
}
@media screen and (max-width: 450px) {
  ._img-ub-profile {
    margin: 7% 5% 0 0;
  }
._img-ub-logo {
    margin: 7% 0 0 0%;
    width: 155px;
    height: 19px;
  }
}@media screen and (max-width: 400px) {
  ._img-ub-profile {
    margin: 8% 5% 0 0;
  }

  ._img-ub-logo {
    margin: 9% 0 0 5%;
    width: 140px;
    height: 18px;
  }
}

@media screen and (max-width: 350px) {
  ._img-ub-profile {
    margin: 9% 5% 0 0;
  }
  ._img-ub-logo {
    margin: 11% 0 0 5%;
    width: 140px;
    height: 18px;
  }
}

@media screen and (max-width: 260px) {
  ._img-ub-profile {
    margin: 12% 5% 0 0;
  }
  ._img-ub-logo {
    margin: 13% 0 0 5%;
    width: 125px;
    height: 18px;
  }
}

@media screen and (max-width: 230px) {
  ._img-ub-profile {
    margin: 12% 5% 0 0;
  }
  ._img-ub-logo {
    margin: 16% 0 0 5%;
    width: 110px;
    height: 15px;
  }
}
.logout {
  float: right;
}
