#drawer-header {
  display: grid;
  grid-template-areas: "header-logo header-nav";
  grid-column: span 2;
}
.icon-header {
  grid-area: header-logo;
  text-align: left;
  margin: auto;
}
.burger-icon {
grid-area: header-nav;
text-align: -webkit-right;
}
._img-ub-logo {
  width: auto;
  height: 20px;
  margin-top: 2%;
  margin-left: 30px;
  width: auto;
}
._img-ub-profile {
  height: 20px;
  width: auto;
  margin-top: 2%;
}
@media screen and (max-width: 1201px) {
  ._img-ub-profile {
    width: 40px;
    height: 40px;
    position: sticky;
    margin: 2% 5% 0 0;
  }
  ._img-ub-logo {
    margin: 4% 0 0 5%;
  }

}
@media screen and (max-width: 768px) {
  ._img-ub-profile {
    margin: 5% 5% 0 0;
  }
  ._img-ub-logo {
    margin: 5% 0 0 5%;
  }
}
@media screen and (max-width: 450px) {
  ._img-ub-profile {
    margin: 7% 5% 0 0;
  }
._img-ub-logo {
    margin: 7% 0 0 5%;
    width: 155px;
    height: 19px;
  }
}@media screen and (max-width: 400px) {
  ._img-ub-profile {
    margin: 8% 5% 0 0;
  }

  ._img-ub-logo {
    margin: 9% 0 0 5%;
    width: 140px;
    height: 18px;
  }
}

@media screen and (max-width: 350px) {
  ._img-ub-profile {
    margin: 9% 5% 0 0;
  }
  ._img-ub-logo {
    margin: 11% 0 0 5%;
    width: 140px;
    height: 18px;
  }
}
@media screen and (max-width: 260px) {
  ._img-ub-profile {
    margin: 12% 5% 0 0;
  }
  ._img-ub-logo {
    margin: 13% 0 0 5%;
    width: 125px;
    height: 18px;
  }
}
@media screen and (max-width: 230px) {
  ._img-ub-profile {
    margin: 12% 5% 0 0;
  }
  ._img-ub-logo {
    margin: 16% 0 0 5%;
    width: 110px;
    height: 15px;
  }
}
