.mytrainings-grid-container-row {
  display: grid;
  grid-template-rows: .03fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
}

.mytrainings-grid-container-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mytrainings-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1%;
}

.mytrainings-list-card {
  display: grid;
  grid-template-rows: .01fr 1fr .01fr;
}

.mytraining-list-grid-row-container {
  display: grid;
  grid-template-columns: .05fr 1fr .05fr;
}


@media (max-width: 768px) {
  .mytrainings-grid-container-column {
    display: grid;
    grid-template-columns: 1fr;
  }

  .mytrainings-list {
    display: grid;
    column-gap: 2%;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }
}
