.library-container {
  display:  grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-count: 2;
  grid-column-gap: 20px;
}

.page-header-buttons {
  padding: 0 4% 0 4%;
}

.tabs-container {
  display: flex;
}

.title-view {
  margin : 25px auto;
}

.training-input-tab {
  display: none;
}

.training-input-tab + label {
  color: #546E7A;
  border-radius: 50px;
  font-weight: lighter;
  width: 300px;
  height: 35px;
  margin-right: 20px;
  border-bottom: 1px solid #546E7A;
  border-top: 1px solid #546E7A;
  border-left: 1px solid #546E7A;
  border-right: 1px solid #546E7A;
}

.training-input-tab:checked + label {
  color: #ff8a00;
  border-radius: 50px;
  font-weight: lighter;
  width: 300px;
  height: 35px;
  margin-right: 20px;
  border-bottom: 1px solid #ff8a00;
  border-top: 1px solid #ff8a00;
  border-left: 1px solid #ff8a00;
  border-right: 1px solid #ff8a00;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 5px 25px;
  font-weight: 150;
  text-align: center;
  border: 1px solid transparent;
  color: #555;
}

label:before {
  font-weight: normal;
  margin-right: 10px;
}

label[htmlFor*='1']:before { content: '\f1cb'; }
label[htmlFor*='2']:before { content: '\f17d'; }
label[htmlFor*='3']:before { content: '\f16b'; }

label:hover {
  color: #555;
  cursor: pointer;
}

#training-tab1:checked ~ #content1,
#training-tab2:checked ~ #content2,
#training-tab3:checked ~ #content3 {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}

.transaction-search-bar {
  margin: auto;
}

.grid-search {
  display: grid;
  grid-template-columns: .1fr 2fr 2fr;
}

.grid-tab-area {
  display: grid;
  grid-template-columns: .05fr 2fr;
}

@media screen and (max-width : 768px) {
  .tabs-container {
    margin: auto;
    text-align: center;
  }
}
