/* benefits */
/* education */

.adjustment {
  margin-top: 4%;
}

.education-card {
  margin-bottom: 20px;
  cursor: pointer;
}

.education-column-grid {
  display: grid;
  grid-template-rows: .5fr .5fr .5fr;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.education-option-cards {
  color: #1f1d1d;
  margin: 0px;
}

.education-option-default {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 50px;
  margin: 0px auto;
  width: 50px;
}

.education-card-container {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
  column-gap: 2%;
}

.education-cards-1 {
  background-image: url('../../../../../images/icons/EDUCATION AID PROGRAM.png');
}
